

<br>
<br>
<br>
<br>
<br>
<form method="post" class="bg0 mt-3" id="form-data">
    <div class="container">
        <div class="flex-w flex-tr">
            <div id="formcheck" class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <div>
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Checkout
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label class="stext-101">First Name</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="FirstName" >
                        <i class="how-pos4 pointer-none zmdi zmdi-account"></i>
                    </div>
                   
                    <span class="text-danger"></span>
                    <label class="stext-101"> Last Name </label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="LastName">
                        <i class="how-pos4 pointer-none zmdi zmdi-account"></i>
                    </div>
                    <span class="text-danger"></span>

                    <label class="stext-101">Email</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="Email">
                        <i class="how-pos4 pointer-none zmdi zmdi-email"></i>
                    </div>
                    <span class="text-danger"></span>

                    <label class="stext-101">StreetAddress</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="Line1">
                        <i class="how-pos4 pointer-none zmdi zmdi-home"></i>
                    </div>
                    <span class="text-danger"></span>

                    <label class="stext-101">City</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="City">
                        <i class="how-pos4 pointer-none zmdi zmdi-city"></i>
                    </div>
                    <span class="text-danger"></span>
                    <label class="stext-101">PhoneNumber</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number" name="Mobile">
                        <i class="how-pos4 pointer-none zmdi zmdi-phone"></i>
                    </div>
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="size-210 bor10 flex-w p-lr-93 p-tb-90 p-lr-15-lg w-full-md" style="flex-direction: column;">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-info">Order Summary:</span>
                </h4>
                <ul id="showCart" class="list-group mb-3">

                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <small class="text-muted">total (VND)</small>
                        <strong class="text-info">tổng tiền</strong>
                    </li>
                </ul>

                <div>
                    <script src="https://checkout.flutterwave.com/v3.js"></script>
                    <button id="clickPayment" type="button" class="flex-c-m stext-101 cl0 text-white size-116 bg3 bor14 hov-btn3 p-lr-15 m-t-15 trans-04 pointer">Make Payment</button>
                </div>
            </div>
        </div>
    </div>
</form>
}