@model IEnumerable<Category>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
}
@*<span id="createPage">*@
    <p id="Ccreate" class="hidden">
        <a id="create" href="javascript:;" class="btn btn-out-dashed btn-success btn-square" onclick="category.openModel()"><i class="ti-plus"></i>Thêm Mới</a>
    </p>
    <p id="pCreate" class="hidden">
        <a id="back" href="javascript:;" class="btn btn-inverse btn-square" onclick="category.showData()"><i class="ti-back-left"></i>Quay lại</a>
    </p>
@*</span>*@

<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="tbCategory">
            <thead style="background:black;color:white">
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmCategory">
                    <div class="form-group">
                        <label>Tên danh mục</label>
                        <input type="text" name="Title" class="form-control" data-rule-required="true" />
                        <input type="hidden" name="ParentId" class="form-control" data-rule-required="true" value="@ViewBag.ParentId" />
                        <input type="hidden" name="Id" value="0" />
                    </div>
                    <div class="form-group">
                        <label>Tiêu đề meta</label>
                        <input type="text" name="MetaTitle" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label hidden>Slug</label>
                        <input type="text" name="Slug" class="form-control" data-rule-required="true" hidden/>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <textarea id="Content" type="text" name="Content" class="form-control"></textarea>
                        <script>CKEDITOR.replace("Content");</script>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="Status"> Trạng Thái
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="ti-close"></i> Đóng
                </button>
                <button type="button" class="btn btn-primary" id="btnSave">
                    <i class="ti-check"></i> Lưu
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script src="~/js/category.js" asp-append-version="true"></script>

}
