@model KingFashion.Models.Products.Product

@{
    ViewData["Title"] = "Update";
}

<h4>Product</h4>
<hr />
<form asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-5 ml-5">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input asp-for="MetaTitle" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SKU" class="control-label"></label>
                <input asp-for="SKU" class="form-control" />
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shop" /> @Html.DisplayNameFor(model => model.Shop)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UpdateAt" class="control-label"></label>
                <input asp-for="UpdateAt" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PublishedAt" class="control-label"></label>
                <input asp-for="PublishedAt" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartsAt" class="control-label"></label>
                <input asp-for="StartsAt" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EndsAt" class="control-label"></label>
                <input asp-for="EndsAt" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
            </div>

        </div>
        <div class="col-md-5>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label><br />

                @foreach (var img in Model.Photo.Split(" ").Skip(1))
            {
                <img width="400px" class="img-fluid img-thumbnail img-lg" src="~/images/@img"><br />
                <button onclick="img.openModel()"></button>
            }
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Update</button>
        </div>
    </div>
</form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="modal fade" id="imageModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thay đổi ảnh</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmImage">
                        <div class="form-group">
                            <img class="img-thumbnail no-photo" src="~/images/no-img.jpg" alt="no photo" />
                            <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                            <div class="custom-file col-sm-10">
                                <input asp-for="Photo" class="custom-file-input" />
                                <label class="custom-file-label mx-sm-3" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="ti-close"></i> Đóng
                    </button>
                    <button type="button" class="btn btn-primary" id="btnSave">
                        <i class="ti-check"></i> Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script asp-append-version="true">
            var img = {};
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $('.no-photo').attr('src', window.URL.createObjectURL($(this)[0].files[0]));
                $(".custom-file-label").addClass("selected").html(fileName);
            });
            img.openModel = function () {
                $('#imageModel').modal('show');
            };
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $('.no-photo').attr('src', window.URL.createObjectURL($(this)[0].files[0]));
                $(".custom-file-label").addClass("selected").html(fileName);
            });
            $(document).ready(function () {
                $(".custom-file-input").on("change", function () {
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html(files.length + " files selected");
                    }
                    else if (files.length == 1) {
                        fileLabel.html(files[0].fileName);
                    }
                });
            });
        </script>
    }

