@model IEnumerable<ViewUsers>

@{
    ViewData["Title"] = "Thành Viên bị cấm";
}
<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="tbUser">
            <thead style="background:black;color:white">
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<p id="pCreate" class="hidden">
    <a id="back"  class="btn btn-inverse btn-square" asp-controller="User" asp-action="Index"><i class="ti-back-left"></i>Quay lại</a>
</p>
@section scripts {

    <script src="~/js/BandUsers.js" asp-append-version="true"></script>
}